.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table-wrapper {
  width: 60%; 
  margin-top: 50px;
}

.ant-table {
  width: 100%;
  border-radius: 10px; 
  overflow: hidden; 
}

.ant-table-thead > tr > th {
  background-color: #f5f5f5;
  text-align: left;
  font-weight: bold;
  border: 1px solid #e8e8e8; 
}

.ant-table-tbody > tr > td {
  text-align: left;
  border: 1px solid #e8e8e8; 
}

.ant-table-tbody > tr:hover > td {
  background-color: #f5f5f5;
}


.clear-button {
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.clear-button:hover {
  background-color: #40a9ff;
}

a {
  color: #1890ff;
}

a:hover {
  text-decoration: underline;
}

.root-term-message {
  margin-top: 10px;
  text-align: center;
  color: #ff4d4f;
  background-color: #fff1f0;
  border: 1px solid #ffa39e;
  padding: 10px;
  border-radius: 5px;
}

.button-container {
  margin-bottom: 10px;
  text-align: right;
}

.table-title {
  text-align: center;
  font-size: 36px; 
  font-weight: bold;
  margin-bottom: 20px;
  color: #1890ff; 
}
.load-more-container {
  margin-top: 20px;
  text-align: right;
}


.load-more-button {
  background-color: #52c41a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.load-more-button:hover {
  background-color: #73d13d;
}